/*
	Styl CSS Framework
	By Abhishek Biswal
	Twitter @Abhishek_Biswal
*/

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Grid */
body
{
	font-size: 100%;
	font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
.wrap
{
	max-width: 960px;
	margin: 0 auto;
}
.row { padding-bottom: 20px; }
.row:after
{
	clear: both;
	display: block;
}
[class*='grid']
{
	float: left;
}
.grid1 { width: 8%; }
.grid2 { width: 16%; }
.grid3 { width: 24%; }
.grid4 { width: 32%; }
.grid5 { width: 40%; }
.grid6 { width: 49%; }
.grid7 { width: 58%; }
.grid8 { width: 66%; }
.grid9 { width: 74%; }
.grid10 { width: 82%; }
.grid11 { width: 90%; }
.grid12 { width: 100%; }

/* Type */
h1,h2,h3,h4,h5,h6
{
	font-weight: bold;
	color: #000;
}

h1 { font-size: 400%; }
h2 { font-size: 300%; }
h3 { font-size: 200%; }
h4 { font-size: 150%; }

/* Links */
a:link, a:visited
{
	color: #26B;
	text-decoration: none;
}

/* Buttons */
.btn
{
	padding: 10px 40px;
	display: inline-block;
	background: #999;
	color: #FFF !important;
	cursor: pointer;
	text-decoration: none;
	transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
}
.btn:hover
{
	opacity: 0.8;
}
.btn.blue
{
	background: #26B; /* Achal - #26B :P */
}